/* #intro is for things with ID of intro */
#intro{
    height: calc(100vh - 4rem); /* 4rem is the height of the navbar so need to subtract it*/
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg{
    position: absolute;
    top: 7rem;
    right: 3rem;
    object-fit: cover;
    z-index: -1;
    height: 100vh;
    
   
}

.introContent{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

/* .hello is for class name hello*/
.hello{
    font-size: 1rem;
    font-weight: 300;
}

.introName{
    color: yellow;
}

.introPara {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
    max-width: 42%;
    margin-bottom: 2rem;
}
.margin-gap{
    margin: 1rem 0;
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
    max-width: 94%;
}
 

.btn {
    background: white;
    margin: 1rem 0;
    padding: .75rem 2rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}
.divider {
    margin: 3rem;
    width: 100%;
    color: white;
    border: 1px solid white; 
  }
  .my-custom-hr {
    border: 1px solid white;
    margin: 10px 0;
}
.links_intro {
    display: flex;
    flex-wrap: wrap;
   
}

.linkintro{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
    cursor: pointer;
}


  

@media screen and (max-width: 840px) {
    .bg{
        right: -10vw
    }
    .introContent{
        font-size: 10vw;
    }
    .hello{
        font-size: 4.5vw;
    }
    
}

@media screen and (max-width: 480px) {
    .bg{
        right: -20vw
    }
   
}